section(class="symptomps")
  div(class="container")
    h2(class="covid19") Covid-19
    h3(class="title") Symptomps
    p Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused a recent outbreak of respiratory 
    picture
      source(srcset="img/symptoms-img.webp" type="image/webp")
      img(src="img/symptoms-img.png", alt="Illustration with symptomps of coronavirus")