header
  nav
    color: $green-title-color
    display: flex
    justify-content: space-between
    align-items: center
    padding: 33px 0

    .logo
      a
        display: flex
        align-items: center
        svg
          margin-right: 14px
        h2
          text-transform: uppercase
          font-size: 19px
          line-height: 25px
          font-weight: 700

    .burger-wrapper
      width: 100%
      display: flex 
      justify-content: space-between
      align-items: center

    .nav-list
      display: flex
      align-items: center
      li
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 40px
        line-height: 10px
        transition: color .25s ease
        &::after
          content: '.'
          display: none
          text-align: center
          color: $button-color
          font-size: 40px
          line-height: 0px
        &:hover
          &:not(:last-child)
            color: $button-color
            &::after
              display: block

@media ( max-width: 991px )
  header
    nav
      .logo
        margin-right: 25px
        a
          flex-direction: column
          svg
            margin: 0
          h2
            font-size: 12px
            line-height: 15px
      .nav-list
        li
          &:not(:last-child)
            margin-right: 25px

@media ( max-width: 767px )
  header
    nav
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      .nav-list
        display: none
      .mobile
        display: block
        margin-top: 70px
        li 
          align-items: flex-start
          font-size: 30px
          line-height: 35px
          &:not(:last-child)
            margin: 0
            margin-bottom: 40px
          .contact-button
            padding: 10px 20px
            border-radius: 10px

            
@media ( max-width: 595px )
  header
    nav
      .logo
        margin: 0

@media ( max-width: 320px )
  header
    nav
      .burger-wrapper
        .logo
          margin: 0
      .mobile
        margin-top: 15px
        width: 100%
        li 
          font-size: 26px
          &:not(:last-child)
            margin-bottom: 25px
                
  
