include ../../components/contact-button/contact-button

header 
  div(class="container")
    nav  
      div(class="logo")
        a(href="#")
          include ../../../img/svg/covid-logo.svg
          h2 covid-19 
      ul(class="nav-list")
        li 
          a(href="#") Overview
        li 
          a(href="#") Contagion
        li  
          a(href="#") Symptoms
        li  
          a(href="#") Prevention
        li  
          +contact-button('#', "Contact")

