section.let-us-help
  background-image: url(../../img/hero-image-cropped.png)
  background-repeat: no-repeat
  background-position: top right
  background-size: 1000px
  position: relative
  margin-top: 56px
  padding: 150px 0
  .let-us-help-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    .let-us-text
      max-width: 50%
      margin-top: 130px
      p
        width: 80%
      a.help-btn
        background-color: $button-color
        color: #ffffff
        display: inline-block
        box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1)
        border-radius: 65px
        padding: 25px 65px
        font-weight: 700
        font-size: 24px
        line-height: 29px
        margin-top: 25px

@media ( max-width: 1500px )
  section.let-us-help
    background-size: 800px
    padding: 100px 0
    .let-us-help-wrapper
      .let-us-text
        margin-top: 30px
        max-width: 45%

@media ( max-width: 1199px )
  section.let-us-help
    background-image: url(../../img/let-us-help-img.webp)
    padding: 0
    padding-bottom: 75%
    background-position: center bottom
    background-size: 100%
    .let-us-help-wrapper
      flex-direction: column
      .let-us-text
        max-width: 100%
        text-align: center
        p
          width: 70%
          margin: 0 auto
          margin-top: 15px

@media ( max-width: 767px )
  section.let-us-help
    .let-us-help-wrapper
      .let-us-text
        a.help-btn
          padding: 16px 35px
          font-size: 18px
          font-weight: 500
