section(class="live-reports")
  div(class="container")
    div(class="reports-wrapper reports-row")
      div(class="map reports-row")
        div(class="control-buttons reports-column")
          div(class="zoom reports-column")
            include ../../../img/svg/plus.svg 
            include ../../../img/svg/minus.svg 
          div(class="up-down reports-column")
            include ../../../img/svg/map-button.svg 
            include ../../../img/svg/map-button.svg 
        div(class="search-button reports-row")
          include ../../../img/svg/search-button.svg
      div(class="stats reports-column")
        div(class="stats-buttons reports-row")
          p Live Reports
          div(class="reports-row")
            include ../../../img/svg/stats-button.svg 
            span 
            include ../../../img/svg/stats-button.svg 
        ul(class="stats-numbers reports-column")       
          li(class="reports-row") 
            div(class="country reports-row")
              include ../../../img/svg/usa.svg
              p USA 
            div(class="country-stats reports-row")
              p 100,392 
              include ../../../img/svg/country-button.svg
          li(class="reports-row") 
            div(class="country reports-row")
              include ../../../img/svg/italy.svg
              p Italy 
            div(class="country-stats reports-row")
              p 86,498 
              include ../../../img/svg/country-button.svg
          li(class="reports-row reports-row") 
            div(class="country reports-row")
              include ../../../img/svg/china.svg
              p China
            div(class="country-stats reports-row")
              p 81,340 
              include ../../../img/svg/country-button.svg
          li(class="reports-row reports-row") 
            div(class="country reports-row")
              include ../../../img/svg/spain.svg 
              p Spain 
            div(class="country-stats reports-row")
              p 64,059
              include ../../../img/svg/country-button.svg 
          li(class="reports-row") 
            div(class="country reports-row")
              include ../../../img/svg/germany.svg 
              p Germany 
            div(class="country-stats reports-row")
              p 50,871
              include ../../../img/svg/country-button.svg
          li(class="reports-row") 
            div(class="country reports-row")
              include ../../../img/svg/iran.svg
              p Iran 
            div(class="country-stats reports-row")
              p 32,332 
              include ../../../img/svg/country-button.svg
