section(class="live-reports")
  div(class="container")
    div(class="reports-wrapper")
      div(class="map")
        div(class="control-buttons")
          div(class="zoom")
            include ../../../img/svg/plus.svg 
            include ../../../img/svg/minus.svg 
          div(class="up-down")
            include ../../../img/svg/map-button.svg 
            include ../../../img/svg/map-button.svg 
        div(class="search-button")
          include ../../../img/svg/search-button.svg
      div(class="stats")
        div(class="stats-buttons")
          p Live Reports
          div
            include ../../../img/svg/stats-button.svg 
            span 
            include ../../../img/svg/stats-button.svg 
        ul(class="stats-numbers")       
          li 
            div(class="country")
              include ../../../img/svg/usa.svg
              p USA 
            div(class="country-stats")
              p 100,392 
              include ../../../img/svg/country-button.svg
          li 
            div(class="country")
              include ../../../img/svg/italy.svg
              p Italy 
            div(class="country-stats")
              p 86,498 
              include ../../../img/svg/country-button.svg
          li 
            div(class="country")
              include ../../../img/svg/china.svg
              p China
            div(class="country-stats")
              p 81,340 
              include ../../../img/svg/country-button.svg
          li 
            div(class="country")
              include ../../../img/svg/spain.svg 
              p Spain 
            div(class="country-stats")
              p 64,059
              include ../../../img/svg/country-button.svg 
          li 
            div(class="country")
              include ../../../img/svg/germany.svg 
              p Germany 
            div(class="country-stats")
              p 50,871
              include ../../../img/svg/country-button.svg
          li 
            div(class="country")
              include ../../../img/svg/iran.svg
              p Iran 
            div(class="country-stats")
              p 32,332 
              include ../../../img/svg/country-button.svg
