section(class="contagion")
  div(class="container")
    div(class="contagion-title")
      h2(class="covid19") Covid-19
      h3(class="title") Contagion 
      p Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type
    ul(class="contagion-list")
      li(class="contagion-item")
        picture 
          source(srcset="img/contagion-img-1.webp" type="image/webp")
          img(src="img/contagion-img-1.png", alt="Girl caughing")
        h3 Air Transmission 
        p Objectively evolve tactical expertise before extensible initiatives. Efficiently simplify 
      li(class="contagion-item")
        picture 
          source(srcset="img/contagion-img-2.webp" type="image/webp")
          img(src="img/contagion-img-2.png", alt="Hands touching")
        h3 Human Contacts
        p Washing your hands is one of the simplest ways you can protect
      li(class="contagion-item")
        picture 
          source(srcset="img/contagion-img-3.webp" type="image/webp")
          img(src="img/contagion-img-3.png", alt="Bottle with tube")         
        h3 Containted Objects 
        p Use the tissue while sneezing, In this way, you can protect your droplets.