section(class="mailing")
  div(class="container")
    div(class="text")
      h3 Have Question in mind? Let us help you
    div(class="form")
      input(id="emailAddress" type="email" size="64" maxLength="64" value="snmonydemo@gmail.com" required)
      input(type="submit" value="Send")