section.about-us
  background: url(../img/about-us-bg.webp) no-repeat
  background-size: contain

  margin-top: 336px
  .about-us-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    .about-us-img
      img
        position: absolute
        width: 70%
        right: 50%
        top: -65%
    .about-us-text
      max-width: 40%
      p
        font-size: 20px
        line-height: 43px
        margin-bottom: 56px
      .learn-btn
        color: $red-title-color
        font-weight: 600
        font-size: 20px
        line-height: 24px
        background: rgba(250, 86, 82, 0.15)
        border-radius: 65px
        padding: 21px 50px
