include ../../components/learn-more/learn-more

section(class="about-us")
  div(class="container")
    div(class="about-us-wrapper")
      div(class="about-us-text")
        h2(class="covid19") What Is Covid-19
        h3(class="title") Coronavirus
        p Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused a recent outbreak of respiratory illness now called COVID-19.Lauren Sauer, M.S., the director of operations with the Johns Hopkins Office of Critical Event Preparedness and Response
        +learn-more("#", "Learn More")