extends layouts/default
include helpers/mixins

block variables
	- const title = "Covid-19"

block content
	include ../blocks/modules/header/header.pug
	main 
		include ../blocks/modules/let-us-help/let-us-help.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
