extends layouts/default
include helpers/mixins

block variables
	- const title = "Covid-19"

block content
	div(class="header-wrapper")
		include ../blocks/modules/header/header.pug
		include ../blocks/modules/let-us-help/let-us-help.pug
	main
		include ../blocks/modules/about-us/about-us.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
