section(class="what-should-we-do")
  div(class="container")
    div(class="title-text")
      h2(class="covid19") Covid-19 
      h3(class="title") What Should We Do
      p Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused
    ul(class="should-do-list")
      li
        div(class="text-wrapper")
          span 01
          div
            h3 Wear Masks 
            p Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively 
        picture
          source(srcset="img/wtdo-img-1.webp" type="image/webp")
          img(src="img/wtdo-img-1.png", alt="Illustration with girl in mask")
      li 
        picture
          source(srcset="img/wtdo-img-2.webp" type="image/webp")
          img(src="img/wtdo-img-2.png", alt="Illustration with girl that washing her hands")
        div(class="text-wrapper")
          span 02 
          div 
            h3 Wash Your Hands 
            p Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively Continually seize impactful vortals 
      li 
        div(class="text-wrapper")
          span 03 
          div 
            h3 Use Nose - Rag
            p Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively  
        picture
          source(srcset="img/wtdo-img-3.webp" type="image/webp")
          img(src="img/wtdo-img-3.png", alt="Illustration with girl using nose-rag")
      li 
        picture
          source(srcset="img/wtdo-img-4.webp" type="image/webp")
          img(src="img/wtdo-img-4.png", alt="Illustration with girl that avoiding contact")
        div(class="text-wrapper")
          span 04
          div 
            h3 Avoid Contacts 
            p Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic