footer 
  div(class="container")
    div(class="footer-wrapper")
      div 
        div(class="footer-logo")
          include ../../../img/svg/covid-logo.svg
          h2(class="covid19") Covid-19
        nav(class="footer-nav")
          a(href="#") Overview
          a(href="#") Symptoms
          a(href="#") Prevention
          a(href="#") Treatment
        ul(class="social-icons")
          li 
            include ../../../img/svg/social-icon-facebook.svg
          li
            include ../../../img/svg/social-icon-youtube.svg
          li
            include ../../../img/svg/social-icon-vimeo.svg
          li 
            include ../../../img/svg/social-icon-twitter.svg 
      div 
        p 2020 @ All rights reserved by pixelspark.co