*
  box-sizing: border-box

h1,
h2,
h3,
h4,
h5,
h6,
ul
  margin: 0
  padding: 0

ul
  list-style-type: none

body
  font-family: Gelion
  font-weight: 400
  font-size: 18px
  line-height: 40px
  color: $text-color

a
  text-decoration: none
  font-family: inherit
  font-weight: inherit
  line-height: inherit
  color: inherit

img
  width: 100%
  max-width: 100%

h2.covid19
  font-family: Red Hat Display, serif
  font-size: 29px
  line-height: 36px
  font-weight: 700
  color: $red-title-color

h3.title
  font-family: Red Hat Display, serif
  font-size: 50px
  line-height: 60px
  font-weight: 700
  color: $green-title-color

.container
  @include container()
  @include sm(max-width, rem(510))
  @include md(max-width, rem(690))
  @include lg(max-width, rem(930))
  @include xl(max-width, rem(1440))

@media ( max-width: 767px )
  h2.covid19
    font-size: 23px
  h3.title
    font-size: 35px
